DEBUG=True

SECRET_KEY=your-secret-key

DB_NAME=rastinax_agent_db
DB_USER=rastinax_agent_user
DB_PASSWORD=your-database-password
DB_HOST=127.0.0.1
DB_PORT=5432

AI_AGENT_BASE_URL=http://127.0.0.1:8000
AI_AGENT_TIMEOUT=60