# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Django
*.log
db.sqlite3
media/

# PyCharm
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Test / Cache
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/